/* ============== ABOUT PAGE ============== */

body{
    background: linear-gradient(to right,rgb(222, 51, 249), rgb(0, 187, 255));

}

a{
    text-decoration: none;
    color: darkred;
    font-weight: bold;
}

h2{
    text-align: center;
}
.container{
    padding: 40px;
  
  }
  .container p{
    color: rgb(255, 255, 255);
  }
  